<% if errors.any? %>
  <div class='message is-danger'>
    <div class='message-header'>
      <p><%= t('new_user.errors_message') %></p>
    </div>
    <div class='message-body content'>
      <ul class='mt-0'>
        <% errors.messages.each do |attr, msg| %>
          <li><%= msg.first %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
