<div class='columns is-mobile m-0 has-text-centered'>
  <div class='column is-8 is-offset-2'>
    <div class='title is-1'>
      <br>
      <%= t('show_user.title') %>
      <br>
      <br>
    </div>
    <div class='content'>
      <p class='is-size-5'><%= t('show_user.rewarding') %></p>
      <br>
      <p class='is-size-5'><%= t('show_user.next_step') %></p>
    </div>
    <br>
    <%= render 'home_button' %>
  </div>
</div>