<div class='columns has-background-custom is-mobile mb-0'>
  <div class='column is-10 is-offset-1'>
    <br>
    <div class='content has-text-centered has-text-white is-size-4 mb-0'>
      <p><%= t('main.footer.guarantee') %></p>
      <p><%= t('main.footer.company') %></p>
    </div>
    <br>
  </div>
</div>