<div class='columns'>
  <div class='column is-full'>
    <%= image_tag "home_background.png" %>    
  </div>
  <div class='column is-4 is-offset-7 is-overlay'>
      <div class="title is-1 mt-6"><%= t('main.home.title_html') %></div>
      <%= render 'cta_button' %>
  </div>
</div>